<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Napkins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NapkinsSpec.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NapkinsSpecSuite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>072536E217EC712E006E9696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0725370917EC79E4006E9696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0730EB1D17ED385B00BEAF76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07CD2AA117EC4A92003E58ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07CD2AC217EC4A92003E58ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
